<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Post</title>
        <script src="{{url_for('static', filename='comments.js')}}"></script>
    </head>
    <body>
        <a href="{{ "/" }}">Return to Homepage</a>
        <hr>
        <h1>{{ post.name }}</h1>
        <h2>{{ post.author }}</h2>
        <hr>
        <p>
        {{ post.content }}
        </p>

        <a href="/posts/{{ post.post_id }}/edit">Edit post</a><br/><br/>
        <form action="/posts/{{ post.post_id }}/delete" method="post">
            <button type="submit">Delete post</button>
        </form><br/>
        <form action="{{ "/comments/new" }}" method="post">
            <label>
                Message: <input type="text" name="message">
            </label>
            <input type="hidden" name="post_id" value="{{ post.post_id }}">
            <button type="submit">Create comment</button>
        </form>
        <div id="comments" style="border: 1px solid black">
            {% for comment in post.comments() %}
              {{ comment.message }}<br><br>
            {% endfor %}
        </div>
    </body>
</html>
